<body class="thebody">
  <div class="container">
    <div class="seperator">
      <h1>Welcome</h1>
      <p>______</p>
      <h3>We're super excited to have you on board!</h3>
    </div>

    <div class="seperator2">
      <h2>Sign In</h2>
      <p class="message">
        Don't have an account ?
        <b style="color: blue; font-weight: 100; text-decoration: underline;" (click)="goToSignIn()">Create your account</b>, it takes less than a minute.
      </p>

      <div class="textfield">
        <input #email type="text" placeholder="Email">
        <img class="person" src="../../assets/imgs/1x/baseline_person_black_18dp.png">
      </div>

      <div class="textfield">
        <input #password type="text" placeholder="Password">
        <img class="person" src="../../assets/imgs/baseline_lock_black_18dp.png">
      </div>

      <table class="theTable">
        <tr>
          <td class="password" (click)="forgotpassword(email.value)"> Forgot Password?</td>
        </tr>
      </table>

      <div class="divButton">
        <button class="theBUTTON" (click)="login(email.value, password.value)">Login</button>
      </div>
    </div>

  </div>
</body>