.maindiv{
    position: absolute;
    top: 0%;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #d6fcfe;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%3Csvg width='80' height='80' viewBox='0 0 80 80' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23018790' fill-opacity='0.4'%3E%3Cpath d='M50 50c0-5.523 4.477-10 10-10s10 4.477 10 10-4.477 10-10 10c0 5.523-4.477 10-10 10s-10-4.477-10-10 4.477-10 10-10zM10 10c0-5.523 4.477-10 10-10s10 4.477 10 10-4.477 10-10 10c0 5.523-4.477 10-10 10S0 25.523 0 20s4.477-10 10-10zm10 8c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8zm40 40c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}
.box{
    position: absolute;
    top: 0%;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}
* {
    box-sizing: border-box;
  }
  
  /* Create two equal columns that floats next to each other */
  .column {
    float: left;
    width: 550px;
    padding: 10px;
    height: 700px; /* Should be removed. Only for demonstration */
    /* text-align: center; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #10243D;
    
}
.Account{
    text-align: left;
}
.column1{
    
    /* background-image: linear-gradient(rgba(12, 33, 43, 0.007),rgba(255, 255, 255, 0.363)); */
    /* background-image: url('../../assets/imgs/london+flower+market-2.jpg'); */
    background-color:   #018790;
    float: left;
    width: 550px;
    padding: 10px;
    height: 700px; /* Should be removed. Only for demonstration */
    /* text-align: center; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-size: cover;
    background-repeat: no-repeat; 
    box-shadow: 0 0 10px white;
}
  
  /* Clear floats after the columns */
  .row {
    content: "";
    display: table;
    clear: both;
    box-shadow: 0 0 10px
  
  }
  h1{
      font-weight: 100;
      color: white;
      font-size: 3.8em;
      /* text-shadow: 0 0 10px black; */
      /* position: relative;
      bottom: 40px; */
      position: relative;
      bottom: 10px; 
  }
  h2{
      text-align: left;
      width: 80%;
      font-size: 3em;
      color: white;
      font-weight: 100;
  }
  h3{
      font-size: 1.5em; 
      font-weight: 100;
      color: white;
      /* text-shadow: 0 0 10px black; */
  }
  p{
      width: 80%;
      text-align: center;
      color: white;
      /* font-size: 1.8em; */
  } 
  .column1 p{
      color: white;
      font-size: 1.2em;
      position: relative;
      bottom: 20px;
  }
  input{
      width: 80%;
      min-width: 300px;
      margin: 9px;
      height: 55px;
      border-bottom: 2px #ffffff solid;
      border-top: 2px #ffff solid;
      border-right: 2px solid white;
      border-left: 2px solid white;
      border-radius: 50px;
      background-color: rgba(255, 255, 255, 0);
      font-size: 1em;
      padding-left: 20px;
      color: white;
    
  }
  ::-webkit-input-placeholder{
      color: white;
  }
  button{
      height: 45px;
      width: 300px;
      border: #018790 2px solid;
      box-shadow: 0 0 10px #018790;
      border-radius: 100px;
      background-color: white;
      color:white;
      font-size: 1em;
      font-weight: 100;
      background-color: #018790;
      margin-top: 30px;
  }
  .person{
    height: 25px;
    margin-right: -50px;
    position: relative;
    right: 25px;
    top: 5px;
}
.theRocket{
    margin-top: 80px;
}
.thepassword{
    text-align: center;
   padding-top: 20px;
}
.overlayer{
    width: 100vw;
    height: 150vh;
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    z-index: 10000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000;
    display: none;
}
.dismissBtn i{
    line-height: 30px;
}
.loader{
    margin: 0 auto;
}
.dismissBtn{
    cursor: pointer;
    transition: 300ms;
    background: rgba(0, 0, 0, 0.486); color: white;
    width: 30px;
    height: 30px;
    border-radius: 40px;
    border: 2px solid white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.788);
    position: absolute;
    right: -15px;
    top: -15px;
}
.dismissBtn:active{
    background: black; color: white;
    width: 40px;
    height: 40px;
    border-radius: 40px;
    border: 2px solid white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.788);
    position: absolute;
    right: -20px;
    top: -20px;
}
.alerter{
    position: relative;
    left: 50vw;
    top:70vh;
    transform: translateX(-50%);
    z-index: 1000000000;
    height: 150px;
    width: 40vw;
    padding: 10px;
    background: white;
    text-align: center;
    padding-top: 10px;
    color: grey;
    border: 1px solid grey;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
}
.alerter img{
    height: 40px;
}
/* end of styling */
button{
    cursor: pointer;
}
