<head>

</head>

<body>
  <div class="content">
  <div class="container">
    <div class="statement">
      Welcome back! Please fill in the details to sign in
    </div>
    <div class="form">
        <a routerLink="/sign-up">Sign Up</a>
      <div class="intro">
        <h3>Login as an incorporator</h3>
      </div>
      <input class="text-field" type="text" #email placeholder="Email"><br>
      <input class="text-field" type="password" #password placeholder="Password">
      <div class="forgot">
        <button (click)="forgotpassword()">Forgot Password</button>
      </div>
      <!-- ADD THE CLICK FUNCTION ON THE DIV, BOT THE p -->
      <div class="button" routerLink="/adding-data">
        <p>
          SIGN IN
        </p>
      </div>
      <br>
     
    </div>
  </div>
</div>

</body>