<head>

  </head>
  
  <body>
    <div class="container">
  
      <div class="statement">
        Welcome back! Please fill in the details to sign in
      </div>
      <div class="form">
  
        <div class="intro">
          <h3>Login as an incorporator</h3>
        </div>
        <input class="text-field" type="text" #email placeholder="Email">
        <input class="text-field" type="password" #password placeholder="Password">
        <div class="forgot">Forgot Password</div>
        <!-- ADD THE CLICK FUNCTION ON THE DIV, BOT THE p -->
        <div class="button"  routerLink="/adding-data" (click)="login(email.value,password.value)">
          <p> 
            Login
          </p>
        </div>
        <br>
        <a routerLink="/sign-up">Register here</a>
      </div>
    </div>
    
  </body>
  