<!-- <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body class="theBody">
    <div class="everything">
        <div class="buttonClick" (click)="signOut()">
            Sign Out
        </div>



        <div class="topContainer">
            <div class="header">
                <img class="icon" (click)="show()" src="../assets/imgs/PinHome icon.png" alt="">
                <h1>PinHome Database</h1>
            </div>
            <div class="profile" (click)="profile()">
                <img class="DP" src="{{img}}" alt="">
            </div>
        </div>

    </div>

    <router-outlet></router-outlet>
</body> -->
<head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body class="yazin">
    <router-outlet></router-outlet>
</body>