<body class="theBody">
    <div class="topContainer">
        <div class="header">
            <img class="icon" (click)="show()" src="../assets/imgs/PinHome icon.png" alt="">
            <h1>PinHome Database</h1>
        </div>
        <div class="profile" routerLink="profile">
            <img class="DP" src="../assets/imgs/Dp.jpg" alt="">
        </div>
        <div class="links">
            <a routerLink="sign-in" class="Reg">Register Organisation</a>
            <div class="signInUp">
                <a routerLink="sign-in">Sign In</a> |
                <a routerLink="sign-up">Sign Up</a>
            </div>
        </div>
    </div>

    <div class="greeting">

        <div class="message">
            <h4 class="welcMessage">Welcome! Click Start </h4>
            <div class="theButton">
                <a routerLink="sign-in" (click)="show()">START</a>
            </div>
        </div>

    </div>
    <router-outlet></router-outlet>
</body>