p{
    position: relative;

    margin-top:10px;

}
h3{ 
    color: #136a74;
        font-weight: 100;
 }
.statement{
    transition: 400ms;
    padding: 15px;
        /* border: 2px solid red; */
        color: white;
        font-weight: 100;
        font-size: 1.2em;
    }
.content{
        height: 100vh;
        width: 100vw;
        background-image: url('../../assets/imgs/theHand.jpg');
        background-attachment: fixed;
        background-size: cover;
       background-repeat: no-repeat;
       background-position: center;  
}
.container{
    height: 50px;
    position: absolute;
    color:black;
    /* border: 2px solid black; */
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 720px; 
    text-align: center;
    margin-top: 20px;
    transition: 400ms;
}
.form{
    background: rgba(245, 245, 245, 0.63);
    width: 90%;
    max-width:650px;
    /* height: 100%; */
    color: black;
    position: relative;
    /* border: 2px solid red; */
    margin: 0 auto;
    /* display: flex; */
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 10px grey;
    transition: 400ms;
    margin-top: 20px;
    box-shadow: 10px 10px 0 #136a7471
}
.text-field{
        transition: 1s;
        width: 100%;
        max-width: 310px;
        margin-top: 10px;
        /* height: 40px; */
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 5px;
        padding-right: 5px;
        border-radius: 50px;
        transition: 400ms;
        border: 1px solid #136a74;
        background-color: #84919265;
        color: black;
}
.intro{
    transition: 400ms;
    width: 100%;
}
.space{
    height: 10px;
}
.button{
    width: 100%;
    max-width: 310px;
    height: 40px;
    background: #136a74;
    margin-top: 25px;
    color: white;
    font-weight: bolder;
    border-radius: 50px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.507);
    transition: 400ms;
    margin: 0 auto;
    padding-top: 2px;
    font-weight: 100
}
.button:active{
    width: 100%;
    max-width: 310px;
    height: 40px;
    background: #094349;
    margin-top: 25px;
    color: white;
    font-weight: bolder;
    border-radius: 50px;
    transition: 400ms;
    margin: 0 auto;
    padding-top: 2px;
    font-weight: 100
}
a{
    text-align: center;
    /* color: green; */
    margin: 0 auto;
    transition: 400ms;
    padding-top: 15px;
}
 @media screen and (max-width: 420px){
    .content{
        height: 100vh;
        width: 100vw;
        position: relative;
        right: 19px;
        background-image: url('../../assets/imgs/theHand.jpg');
        background-attachment: fixed;
        background-size: cover;
       background-repeat: no-repeat;
       background-position: center;  
}
} 