.container{
    height: 60vh;
    width: 50%;
    /* background: red; */
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    top: 40%;
    left: 50%;
    transform: translateX(-50%)
}
.seperator{
    height: 100%;
    width: 25vw; 
    background-image:url('../../assets/imgs/tree.jpg');
    background-position: bottom ;
    background-repeat: no-repeat;
    border: 1px solid grey;
    box-shadow: 10px 12px 20px rgba(17, 17, 17, 0.2);
    
}
.thebody{
    height: 130vh;
    width: 100vw;
    margin-top: -300px; 
    background-image: linear-gradient(rgba(12, 33, 43, 0.5),rgba(16, 60, 78, 0)),url('../../assets/imgs/tree.jpg');
    /* background: linear-gradient(rgba(13, 32, 41, 0.281),rgb(5, 59, 77)),url('../../assets/imgs/grandpa14.jpg'); */
    background-size: cover;
    background-repeat: no-repeat; 
     background-position: top; 
     overflow-y:hidden;
     overflow-x:hidden;
     position: fixed;
     margin-left: -15px;
   
}

.seperator2{
    position: relative;
    height: 100%;
    width: 50%;
    min-width: 320px;
    background-color: white;
    border: 1px solid grey;
    box-shadow: 10px 12px 20px rgba(17, 17, 17, 0.2);
}
.seperator p{
    text-align: center;
    font-size: 1.8em;
    position: relative;
    top: 25px;
    color: white;
    

}
h1{
    font-weight: 100;
    text-align: center;
    padding-top: 100px;
    font-size: 2.3em; 
    color: white;
    position: relative;
    top: 30px;
}
h2{
    color: rgb(134, 126, 126);
    padding-left: 50px;
    font-size: 2em;
    padding-top: 20px;  
}
h3{
    font-weight: 100;
    font-weight: 100;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 60px;
    color: white;
}
.textfield{
    width: 100%;
    height: 50px;
}
.textfield input{
    /* border: none; */
    width: 70%;
    min-width: 290px;
    height:40px;
    position: relative  ;
    left: 50%;
    transform: translateX(-50%);
    border-top: 2px;  
    border-right: 0px;
    border-left: 0px; 
    border-color: #20676e;      
    height: 30px;
    font-size: 1em;

}
.person{
    height: 25px;
    margin-right: -50px;
    position: relative;
    right: 25px;
    top: 5px;
}
.theButton{
    text-align: center;
    margin-top: 30px;
}
.loginBtn{
    transition: 300ms;
    cursor: pointer;
    height: 50px;
    width: 140px;
    border-radius: 40px;
    color: white;
    background-color: #20676e00;
    border: white solid 3px;
    margin-top: 20px;
    font-size: 1em;
}
.loginBtn:active{
    height: 50px;
    width: 140px;
    border-radius: 40px;
    color: white;
    background-color: #20676e;
    border: white solid 3px;
    margin-top: 20px;
    font-size: 1em;
}
.registerButton{
    text-align: center;
    margin-top: 10px;
}
.registerBtn{
    background-color: #20676e;
    height: 50px;
    width: 140px;
    color: white;
    font-size: 1em;
    border: #20676e 2px solid;
    box-shadow: 0 0 20px #20676e;
    border-radius: 100px;
}

/* ======================================================================================================================================================================================================================================= */
.decider{
    display: flex;
    width: 20%;
    cursor: pointer;
    background: white;
    height: 40px;
    line-height: 40px;
    font-weight: bolder;
    font-size: 14px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100000000000000000000000000000000000000000000000000000000000;
}

.signIn{
    transition: 300ms;
    width: 49.9%;
    color: #00eaff;
    border-bottom: 5px solid #00eaff;
    font-size: 30px;
    text-align: center;
    padding-right: 20px;  
}

.arrow{
    cursor: pointer;
    position: absolute;
    width: 100px;
    height: 60px;
    font-weight: bold;
    color: #20676e;
    right: 10%;
    bottom: -50%
}

.back{
    cursor: pointer;
    position: absolute;
    width: 100px;
    height: 60px;
    font-weight: bold;
    color: #20676e;
    left: 20%;
    display: none
}

.signIn:active{
    background: rgba(128, 128, 128, 0.404)
}

.signUp{
    width: 49.9%; 
    transition: 300ms;
    text-align: center;
    padding-left: 20px; 
    font-size: 30px; 
}

.signUp:active{
    background: rgba(128, 128, 128, 0.404)
}

label{
    cursor: pointer;
}

#first{
    transition: 300ms;
    background: white;
    width: 100%;
    height: 91.2%;
    position: absolute;
    z-index: 1000;
    padding-top: 50px;
    display: block;
}

#second{
    width: 100%;
    height: 85%;
    position: absolute;
    z-index: 100;
    bottom: 0;
    display: block;
    overflow-y: hidden;
}

/* #second::-webkit-scrollbar {
    position: absolute;
    right: -10px;
    width: 5px;
}

#second::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background: transparent;
}

#second::-webkit-scrollbar-thumb {
    background-color: #20676e;
    outline: 1px solid red;
    border-radius: 5px;
} */

select{
    width: 70%;
    min-width: 290px;
    height:40px;
    position: relative  ;
    left: 50%;
    transform: translateX(-50%);
    background: rgba(0, 0, 0, 0);
    border-bottom: 2px solid #20676e;
    border-top: 0;
    border-right: 0; 
    border-left: 0;
    z-index: 100000000000000000000000000000000000000000000000000000 ; 
}

label{
    position: absolute;
    left: 73px;
    color: grey;
    font-weight: 500;
    top: 5%;
    font-weight: 530;
    z-index: 10000000000000000000000000000000000000000000000000;
}

.firstCont{
    margin-top: 50%;
    transform: translateY(-50%);
    position: relative
    /* background: red; */
}

.textfield textarea{
    width: 70%;
    min-width: 290px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    border-bottom: 2px solid #20676e;
    border-right: 0;
    border-top: 0;
    border-left: 0;
    resize: none;
    font-family: Arial, Helvetica, sans-serif;
}

.textfield textarea::placeholder{
    font-family: Arial, Helvetica, sans-serif;
}

/* .textfield textarea::-webkit-
{
    display: none;
} */

.theMap{
    height: 100px;
    border: 1px solid grey;
    margin-top: 10px;
    width: 70%;
    min-width: 290px;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
}

.mapShow{
    height: 130px;
}

.mapShow #overlay{
    background: radial-gradient(#20676e00,#20676e1f);
    z-index: 1000000000000000000000000000000000000000;
    height: 100px;
    /* padding-bottom: 10px; */
}

.photos{
    /* height: 120px; */
    padding-top: 10px;
    width: 100%;
    height: 150px;
    background: rgba(0, 0, 0, 0);
    margin: 0 auto;
    position: relative;
}

.cover img{
    height: 150px;
    width: 100%;
    object-fit: cover;
}
.dp{
    /* border: 2px solid red; */
    position: relative;
    text-align: right;
    width:80px;
    height:80px;
    position: absolute;
    top: 50%;
    transform: translateY(-40%)
    /* right: 10px;
    top: 120px; */
}
.dp img{
    margin-left: 10px;
    margin-top: 10px;
    object-fit: cover;
    height: 80px;
    width: 80px;
    border-radius: 120px;
    border: 1px solid rgba(128, 128, 128, 0.486);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.651);
}

.cover{
    position: relative;
}
#myCover{
    display: none;
}
#myLogo{
    display: none;
}

.submitter{
    cursor: pointer;
    height: 40px;
    line-height: 40px;
    width: 100px;
    background: #20676e;
    text-align: center;
    color: white;
    margin: 0 auto;
    border-radius: 5px;
    position: relative;
    bottom: 10px;
    
}
#label1{
    transition: 300ms;
    height: 40px;
    width: 40px;
    background: #20676e;
    color: white;
    line-height: 40px;
    text-align: center;
    border-radius: 40px;
    position: absolute;
    left: 89%;
    border: 1px solid white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.664);
}
#label1:active{
    height: 40px;
    width: 40px;
    background: #0cd0e2;
    color: white;
    line-height: 40px;
    text-align: center;
    border-radius: 40px;
    position: absolute;
    left: 89%;
    border: 1px solid white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.664);
}
#label2{
    /* transition: 100ms;
    height: 80px;
    width: 80px;
    background: #20676e5e;
    color: white;
    line-height: 50px;
    text-align: center; */
    
    margin-left: 10px;
    margin-top: 10px;
    height: 80px;
    width: 80px;
    border-radius: 120px;
    border-radius: 40px;
    position: absolute;
    left: 0px;
    border: 1px solid white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.664);
    opacity: 0;
}
/* #label2:active{
    height: 80px;
    width: 80px;
    background: #20676e;
    color: white;
    line-height: 80px;
    text-align: center;
    border-radius: 40px;
    position: absolute;
    left: 60px;
    border: 1px solid white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.664);
} */

.material-icons{
    line-height: 40px;
}

.instruction{
    transition: 300ms;
    color: grey;
    font-weight: bold;
    font-size: 2em;
    padding-left: 10px;
    z-index: 100000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000;
    position: absolute;
    top:15%;
    left:52%;
    transform: translateX(-50%);
    /* border: 2px solid red; */
    width: 90%;
    
}
.instruction p{
    font-size: 12px;
}
.instructions{
    transition: 300ms;
    color: grey;
    font-weight: bold;
    font-size: 1em;
    padding-left: 10px;
    z-index: 100000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000;
    /* position: absolute;
    top:20%;
    left:15%;
    transform: translateX(-50%) */
    
}
.overlayer{
    width: 100vw;
    height: 150vh;
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    z-index: 10000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000;
    display: block
}
.dismissBtn i{
    line-height: 30px;
}
.dismissBtn{
    cursor: pointer;
    transition: 300ms;
    background: rgba(0, 0, 0, 0.486); color: white;
    width: 30px;
    height: 30px;
    border-radius: 40px;
    border: 2px solid white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.788);
    position: absolute;
    right: -15px;
    top: -15px;
}
.dismissBtn:active{
    background: black; color: white;
    width: 40px;
    height: 40px;
    border-radius: 40px;
    border: 2px solid white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.788);
    position: absolute;
    right: -20px;
    top: -20px;
}
.alerter{
    position: relative;
    left: 50vw;
    top:70vh;
    transform: translateX(-50%);
    z-index: 1000000000;
    height: 150px;
    width: 40vw;
    background: white;
    text-align: center;
    padding-top: 10px;
    color: grey;
    border: 1px solid grey;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
    border-radius: 5px;

    font-family: Arial, Helvetica, sans-serif;
}
.alerter img{
    height: 40px;

}
@media screen and (max-width: 1714px){
    .container{
        height: 100vh;
        top: 30%;
        width: 50%;
        /* background: red;  */
        display: flex;
        font-family: Arial, Helvetica, sans-serif;
        position: absolute;
    }
    .instruction{
        font-size: 1em;
        left: 10%;
        top: 5%;
    }
    .instruction{
        transition: 300ms;
        color: grey;
        font-weight: bold;
        font-size: 1em;
        padding-left: 10px;
        z-index: 100000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000;
        position: absolute;
        top: 1%;
        left:15%;
        transform: translateX(-50%)
        
    }
    .seperator{
        display: none;
    }
    .seperator2{
        width: 100%;
        margin: 0 auto;
    }
    .back{
        cursor: pointer;
        position: absolute;
        width: 100px;
        height: 60px;
        font-weight: bold;
        color: #20676e;
        left: 20%;
        display: block;
    }
}