<head>
</head>

<body class="thebody">
  <div class="container">
    <div class="seperator">
      <h1>Welcome</h1>
      <p>____</p>
      <h3>Welcome to the PinHome Database, please fill in the form to get started with adding your non-profit organisation to
        the database.</h3>
      <div class="theButton">
        <button class="loginBtn" (click)="goToSignIn()">Sign In</button>
      </div>
    </div>
    <div class="seperator2">
      <h2>Register as an incorporator</h2>
      <div class="textfield">
        <input type="text" placeholder="First Name" [(ngModel)]="fName">
        <img class="person" src="../../assets/imgs/1x/baseline_person_black_18dp.png">
      </div>
      <div class="textfield">
        <input type="text" placeholder="Second Name" [(ngModel)]="sName">
        <img class="person" src="../../assets/imgs/1x/baseline_person_black_18dp.png">
      </div>
      <div class="textfield">
        <input type="text" placeholder="Organisation Name" [(ngModel)]="orgName">
        <img class="person" src="../../assets/imgs/baseline_business_black_18dp.png">
      </div>
      <div class="textfield">
        <input type="email" placeholder="Email" [(ngModel)]="email">
        <img class="person" src="../../assets/imgs/baseline_email_black_18dp.png">
      </div>
      <div class="textfield">
        <input type="number" placeholder="Mobile Number (+27)" min="1" max="10" [(ngModel)]="mobile">
        <img class="person" src="../../assets/imgs/baseline_phone_black_18dp.png">
      </div>
      <div class="textfield">
        <input type="number" placeholder="Tell. (+27)" [(ngModel)]="tel" min="1" max="10">
        <img class="person" src="../../assets/imgs/baseline_phone_black_18dp.png">
      </div>
      <div class="textfield">
        <input type="password" placeholder="Password" [(ngModel)]="password">
        <img class="person" src="../../assets/imgs/baseline_lock_black_18dp.png">
      </div>
      <div class="textfield">
        <input type="password" placeholder="Confirm Pass." [(ngModel)]="Confirm">
        <img class="person" src="../../assets/imgs/baseline_lock_black_18dp.png">
      </div>
      <div class="registerButton">
        <button class="registerBtn" (click)="register($event)">Register</button>
      </div>
    </div>

  </div>
</body>