<head>

</head>

<body>
  <div class="divver">

    <div class="customAlert4">
      
      <div class="text">
          <img src="../../assets/imgs/custom alert/loader.gif" class="loading" alt=""><br>
        {{message}}
      </div>
      <div class="confirmer" id="theOkay" (click)="dismissAlert()">
        <div class="OK">
          OK
        </div>
      </div>
    </div>

  </div>
  <div class="content">
    <div class="spreader">

    </div>
    <div class="container">
      <div class="statement">
        Welcome to the PinHome Database, please fill in the form to get started with adding your non-profit organisation
        to the database.
      </div>
      <div class="form">

        <div class="intro">
          <h3 class="theH3">Register as an incorporator</h3>
        </div>

        <input class="text-field" type="text" [(ngModel)]="fName" placeholder="First Name"><br>
        <input class="text-field" type="text" [(ngModel)]="sName" placeholder="Last Name"><br>
        <input class="text-field" type="text" [(ngModel)]="orgName" placeholder="Organisation Name"><br>
        <input class="text-field" type="text" [(ngModel)]="email" placeholder="Email"><br>
        <div class="thePlaceholder">
          Mobile +27
        </div>
        <input class="text-field" type="text" min="1" [(ngModel)]="mobile" placeholder="e.g(81 123 4567)" max="10" id="theText"><br>
        <div class="thePlaceholder">
          Tel. +27
        </div>
        <input class="text-field" type="text" min="1" [(ngModel)]="tel" placeholder="e.g(11 980 1234)"  max="10" id="theText"><br>
        <input class="text-field" type="password" [(ngModel)]="password" placeholder="Password"><br>
        <input class="text-field" type="password" [(ngModel)]="Confirm" placeholder="Confirm Password">
        <div class="space"></div>
        <!-- ADD THE CLICK FUNCTION ON THE DIV, BOT THE p -->
        <div class="theBtn">

        </div>
        <div class="button" (click)="register($event)">
          <p>
            Sign Up
          </p>
        </div>
        <br>
        <!-- <a routerLink="/sign-in">Already have an account?</> -->

      </div>
      <router-outlet></router-outlet>
    </div>
  </div>

  <div class="holder">

    <div class="buttonClick" (click)="goToSignIn()">
      Sign In
    </div>
  </div>
</body>