/* body{
    background: #166b85;
    padding: 0;
    transition: 1s;
}
.top{
    background: #166b85;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    color: white;
    height: 150px;
    text-align: center;
    position: relative;
}
h2{
    transform: translateY(140%);
}

.org{
    height: 20px;
    font-size: 15px;
    font-weight: bold;
    color: black;
    background: #ffffff;
    padding: 10px;
    border-radius: 50px;
    width: 100%;
    max-width: 700px;
    text-transform: capitalize;
    border: 0.1px solid transparent; */
    /* margin-left: 30px; */
    /* margin-top: 10px;
    box-shadow: 0 0 10px inset #00c3ff;
}
.theOrg{ */
    /* height: 20px; */
    /* font-size: 15px;
    font-weight: bold;
    color: black;
    background: #ffffff;
    padding: 10px;
    border-radius: 20px;
    width: 100%;
    text-transform: capitalize;
    border: 0.1px solid transparent; */
    /* margin-left: 30px; */
    /* margin-top: 10px;
    box-shadow: 0 0 10px inset #00c3ff;
}
.org-wide{
    height: 20px;
    font-size: 15px;
    font-weight: bold;
    color: black;
    background: #ffffff;
    padding: 10px;
    border-radius: 50px;
    width: 90%;
    text-transform: capitalize;
    border: 0.1px solid transparent;
    margin-left: 30px;
    margin-top: 10px;
    box-shadow: 0 0 10px inset #00c3ff;
}
label{
    color: white;
}
.container{
    width: 100%;
}
.middle{
    padding: 10px;
    max-width: 850px;
    display: flex;
    flex-wrap: wrap;
    border: 1px solid red;
    margin: 0 auto;
}
.orgName{
    width: 100%;
    border: 2px solid green;
    text-align: center;
} */

.container{
    background: white;
    width: 90vw;
    height: 100vh;
    margin: 0 auto;
}
h1,h3{
    color:black;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;   
}
h3{
    text-decoration: underline;
}
.theBody{
    border: 2px solid green;
    width: 100%;
    max-width: 850px;
    height: 90%;
    background: whitesmoke;
    margin: 0 auto;
    /* padding: 10px; */
    border: 2px solid red;
}
.inputs{
    width: 100%;
    background: white;
    padding: 10px;
    box-shadow: 0 5px 10px grey;
    margin-right: 10px;
}
.org-wide{
    width: 98.2%;
    max-width: 850px;
    height: 25px;
    padding: 5px;
}
.org-wide-select{
    width: 100%;
    max-width: 850px;
    height: 40px;
    padding: 5px;
}
.org{
    margin-top: 10px;
    height: 25px;
    max-width: 410px;
    width: 100%;
    padding: 5px;
}
.orgHeight{
    margin-top: 10px;
    height: 200px;
    max-width: 410px;
    width: 100%;
    box-shadow: 0 0 10px inset grey;
    padding: 5px;
    font-family: Arial, Helvetica, sans-serif;
}
.sep{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between
}
#map{
    height:250px;
    border: 1px solid black;
    width: 100%;
}
.logoUpload{
    width: 100%;
    text-align: center;
}
.statement{
    width: 100%;
}
#logo{
    display: none;
}
#lblForLogo{
    /* border: 2px solid red; */
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    background:  #13b8ca;
    border-radius: 7px;
    box-shadow: 0 0 10px rgb(177, 177, 177);
    transition: 100ms;
}
#lblForLogo:active{
    /* border: 2px solid red; */
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 20px;
    padding-right: 20px;
    background:  #8af3ff;
    border-radius: 7px;
    box-shadow: 0 0 15px black;
}
#lblForLogo:hover{
    /* border: 2px solid red; */
    padding-top: 11px;
    padding-bottom: 11px;
    padding-left: 16px;
    padding-right: 16px;
    background:  #086974;
    border-radius: 7px;
    color: white;
    box-shadow: 0 0 10px rgb(177, 177, 177);
}
.theLogo{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border: 1px solid black;
    border-radius: 150px;
}
.theImage{
    width: 150px;
    height: 150px;
    padding-top: 15px;
    text-align: center;
    /* border: 1px solid black; */
    margin: 0 auto;

}
.cover{
    height: 250px;
    width: 100%;
    position: relative;
}
#theCover{
    display: none;
}
.uploader{
    position: absolute;
    color: white;
    z-index: 1;
    /* border: 2px solid white; */
    padding: 10px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: #13b8ca7a;
    border-radius: 5px;
}
@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(https://example.com/MaterialIcons-Regular.eot); /* For IE6-8 */
    src: local('Material Icons'),
      local('MaterialIcons-Regular'),
      url(https://example.com/MaterialIcons-Regular.woff2) format('woff2'),
      url(https://example.com/MaterialIcons-Regular.woff) format('woff'),
      url(https://example.com/MaterialIcons-Regular.ttf) format('truetype');
  }
  .material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    /* display: inline-block; */
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: wrap;
    direction: ltr;
  
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
  
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
  
    /* Support for IE. */
    font-feature-settings: 'liga';
    
  }
