#coverUploader{
    display: none;
}
input, textarea{
    background:#10243D;
    border: 2px solid white;
    border-radius: 10px;
}
.container{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: -18px;
    margin-top: -10px;
    width: 100vw;
    height: 101vh;
    background: radial-gradient(rgb(255, 255, 255),rgb(28, 99, 133),#10243D);
    overflow: hidden;
    position: fixed;
    padding: 20px;
}
::-webkit-scrollbar { 
    display: none;
}
::-webkit-input-placeholder{
    color: grey;
    font-family: Arial, Helvetica, sans-serif;
}
.wrap{
    width: 40%;
    /* height: 80%; */
    /* max-height: */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: auto;
    background: #10243D;
    border-radius: 5px;
    overflow-y: scroll;
    overflow-x: hidden; 
}
.nav{
    display: flex;
}
.nav i{
    cursor: pointer;
    margin: 0;
    padding: 0;
    /* border: 2px solid; */
    height: 20px;
}
.nav p {
    cursor: pointer;
    margin: 3px;
    /* border: 2px solid; */
}
.instruction{
    /* border: 2px solid; */
    text-align: center;
    font-weight: bold;
    z-index: 100;

}
.CoverDiv{
    height: 300px;
    width: 100%;
    /* min */
    position: relative;
    display: block;
}
.CoverDiv label{
    position: relative;
    width: 100%;
    height: 100%;
    /* border: 2px solid red; */
}
.Thecover2{
    position: relative;
}
label .coverToUpload{
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
    background: white;
}
label h2{
    position: absolute;
    z-index: 100;
    margin: 150px auto;
    transform: translateY(-50%);
    /* border: 2px solid; */
    width: 100%;
    text-align: center;
}

.section1{
    /* border: 2px solid; */
    text-align: center;
    /* padding: 10px; */
}
.left {
    padding: 0;
    color: white;
    font-family: Arial, Helvetica;
    /* border: 2px solid grey; */
    position: relative;
}
.left input{
    padding: 5px;
    width: 90%;
    margin-top: 10px;
    height: 25px;
    font-family: Arial, Helvetica;
    color: white;
}
.left textarea{
    padding: 5px;
    font-family: Arial, Helvetica;
    color: white;
    width: 90%;
    margin-top: 10px;
    resize: none
}
.left input, textarea{
    border: 2px solid white;
}
/* for firefox */
input[type='number'] {
    -moz-appearance:textfield;
}
/* Webkit browsers like Safari and Chrome */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.submit{
    text-align: center;
    line-height: 50px;
    width: 100%;
    max-width: 500px;
    margin: 15px auto;
    height: 50px;
    color: white;
    background: #018790;
    padding: 0;
    border: 2px solid white;
    border-radius: 5px;
}
@media screen and (max-width: 900px){
    label h2{
        width: 100%;
        position: absolute;
        z-index: 100;
        margin: 150px auto;
        transform: translate(-10px,-50%);
        /* border: 2px solid; */
        text-align: center;
    }
    .instruction{
        /* border: 2px solid; */
        text-align: left;
        padding-left: 10px;
        font-weight: bold;
        z-index: 100;
    
    }
    .wrap{
        width: 100%;
        height: 80%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin: auto;
        background: #10243D;
        border-radius: 0px;
    }
    .left {
        /* border: 2px solid grey; */
        position: relative;
    }
    .left input{
        padding: 5px;
        width: 90%;
        max-width: 300px;
        margin: 10px auto;
        height: 25px;
        transform: translateX(-15px);
    }
    .left textarea{
        padding: 5px;
        width: 90%;
        max-width: 300px;
        margin-top: 10px;
        resize: none;
        transform: translateX(-15px);
    }
    .left input, textarea{
        border: 2px solid white;
    }
    
    
    .submit{
        width: 100%;
        max-width: 300px;
        margin: 15px auto;
        height: 50px;
        color: white;
        background: #018790;
        padding: 0;
        border: 2px solid white;
        border-radius: 5px;
        transform: translateX(-15px);
    }
    @media screen and (max-width: 340px){

        .section1{
            /* border: 2px solid; */
            text-align: left;
            padding: 10px;
        }
        .wrap{
            width: 100%;
            height: 80%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            margin: auto;
            background: #10243D;
            border-radius: 0px;
        }
        label h2{
            width: 100%;
            position: absolute;
            z-index: 100;
            margin: 150px auto;
            transform: translate(-20px,-50%);
            /* border: 2px solid; */
            text-align: center;
        }
        .left {
            /* border: 2px solid grey; */
            position: relative;
        }
        .left input{
            padding: 5px;
            width: 90%;
            max-width: 295px;
            margin-top: 10px;
            margin-left: 15px;
            height: 25px;
        }
        .left textarea{
            padding: 5px;
            width: 90%;
            max-width: 295px;
            margin-left: 15px;
            margin-top: 10px;
            resize: none
        }
        .left input, textarea{
            border: 2px solid white;
        }
        .submit{
            width: 100%;
            max-width: 300px;
    margin: 15px auto;
            height: 50px;
            color: white;
            background: #018790;
            padding: 0;
            border: 2px solid white;
            border-radius: 5px;
        }
        .instruction{
            text-align: left;
            padding-left: 10px;
        }
    }
}
@media screen and (max-width: 1314px){
    .submit{
        width: 100%;
        max-width: 300px;
        margin: 15px auto;
        height: 50px;
        color: white;
        background: #018790;
        padding: 0;
        border: 2px solid white;
        border-radius: 5px;
    }
}