
<head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>
  <body>
    <div class="start">
        <div class="needs">
          <p>Use this section to add your organisation's needs to get support from your potential sponsors and contributors.</p>
          <input type="text" placeholder="Title" class="inp" [(ngModel)]="title">
          <textarea name="" id="descr" placeholder="Describe your organisation's needs here..." rows="5" [(ngModel)]="description"></textarea>
          <div class="theBtn" (click)="addContributes()">Add to list</div>
          <br>
          <div class="drag" (click)="pullDown()">
            <i class="material-icons" id="orger">keyboard_arrow_down</i>
          </div>
        </div>
     <div class="chartOverlay" id="theGreenOne">
        Ratings
            <div class="chart" id="myRate">
              <canvas id="ourRatings"></canvas>
          </div> <br>
          Views
          <div class="chart" id="myViews">
              <canvas id="views" ></canvas>
          </div>
          </div>
      
      <div class="tab">
        <div class="action">
          <div>
            
            <p id="my2001" (click)="goToProfile()"><i class="material-icons" id="myIcon">account_balance</i> <b id="Orgo">ORGANISATION PROFILE</b>
            </p>
          </div>
        </div>
      </div>
      <div class="profOverlay">
          <input type="file" accept="image/jpg, image/jpeg" id="coverUploader" (change)="changeCover($event)">
          <input type="file" accept="image/jpg, image/jpeg" id="galInput" [(ngModel)]="galleryupload" (change)="getImages($event)">
          <div class="overlay">
              <div class="addBranch">
                <div class="dismisser" (click)="closeDIV()">
                  <i style="color: black" id="DismisIcon" class="material-icons">close</i>
                </div>
                <label for="coverUploader">
                  <img src="{{url1}}" alt="" class="coverToUpload">
                </label>
                <h3>Edit branch details</h3>
                <div class="editForm">
                  <input type="text" placeholder="Branch Name" [value]="name1" [(ngModel)]="name1"><br>
                  <input type="email" placeholder="Email" [value]="email1" [(ngModel)]="email1"><br>
                  <input type="text" placeholder="Tel" [value]="tel1" [(ngModel)]="tel1"><br>
                  <textarea name="" id="" cols="30" rows="4" placeholder="Address" [(ngModel)]="city1" [value]="city1"></textarea><br>
                </div>
                <button id="submitter" (click)="edit()">submit</button>
              </div>
            </div>
        <div class="gallery">
          <h3 class="GAlNAme" (click)="showGal()">
            <i id="GalIcon" class="material-icons">view_list</i>
            Gallery</h3>
          <label for="galInput">
            <div class="adder">
                <i class="material-icons">add</i></div>
          </label><br>
          <div class="array" *ngFor="let x of imagesArr">
            <img src="{{x.GalUrl}}" alt="" class="images">
        </div>
        
        </div>
        <div class="cont">
          
            <div class="dismisser" id="profDismisser" (click)="closeProfile()">
                <i class="material-icons" id="arrow">close</i>
            </div>
          <div class="coverPhoto">
            <div id="signOut" (click)="signOut()">
              <i class="material-icons">directions_walk</i>
              <p>Sign Out</p>
            </div>
            <div class="about">
              <img src="{{logo}}" alt="" class="logo">
              <h3>About</h3>
              <p id="breaker">{{desc}}</p>
              <h3>Address</h3>
              <p id="breaker">{{city}}</p>
              <h3>Contact Details</h3>
              <p id="breaker">0{{tel}}<br>
              {{email}}</p>
              <h2 class="keepFixed">Branches</h2>
            </div>
            <h2 id="orgName">{{name}}</h2>
            <p class="paragraph">{{cat}}</p>
            <img src="{{url}}" id="coverIMG" alt="">
            
          </div>
          <div class="branches">
              <div class="smallDetails">
                <b>About</b>
                <br>
                <p>{{desc}}</p>
                <b>Address</b>
                <p>{{city}}</p>
                <b>Contact Details</b>
                <p>0{{tel}}<br>
                  {{email}}</p>
              </div>
            <div class="myList">
              <div class="FAB" (click)="addBrunch()"><i class="material-icons">add</i></div>
              <div class="org" (click)="displayData(b,i)"  *ngFor="let b of brunchesArr; let i =index">
                <img src="{{b.Url}}" alt="" class="orgImg">
                <div class="listDetails">
                  <h3 id="branchHead">{{b.OrganizationName}}</h3>
                  <p>{{b.OrganizationAddress}} <br><hr>
                  {{b.Email}}<br>
                  {{b.ContactDetails}}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      
      <div class="content" id="map">
       
        <div class="loader">
          Loading Map...
        </div>
      </div>
      <div class="absolutely">
        <div class="arrow">
          <div class="clicker" (click)="decideState()">
            <i class="material-icons" id="myArrow">keyboard_arrow_up</i>
          </div>
          <div class="list">
            <div class="gal" id="push" *ngFor="let a of organizationArr">
                <span class="tooltiptext">{{a.desc}}</span>
              <img src="{{a.Url}}" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>