.start{
    height: 100.5vh;
    width: 100.5%;
    background: whitesmoke;
    position: fixed;
    
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin-left: -30px;
    margin-top: -10px;
    padding-right:
}

.content{
    width: 99.7%;
    height:99.7%;
    border: 2px solid green;
    box-shadow: 0 0 200px inset rgb(26,106,116);
}
.tab{
    width: 100%;
    height: 100px;
    position: absolute;
    /* border: 2px solid black; */
    z-index: 1000000000000000000000000;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0));
}

.DP img{
    width: 60px;
    height: 60px;
    margin-left: 20px;
    margin-top: 20px;
    border-radius: 500px;
    float: left;
    object-fit: cover;
}
.space{
    /* padding-right: 100px; */
}
.action{
    /* margin-top: 50px; */
    float: right;
    display: flex;
    width:250px;
    /* border: 2px solid green */
}
.action > div{
    cursor: pointer;
    /* background:  orange; */
   line-height: 100px;
    font-weight: bolder;
    font-family: arial, sans-serif, impact;
    color: white;
}
.action p{
    /* background:  orange; */
    margin: 0;
    padding-left: 3px;
    font-weight: bolder;
    font-family: arial, sans-serif, impact;
    color: white;
}

.list{
    margin: 0 auto;
    width: 50%;
    min-width: 400px;
    padding-top: 10px;
    /* border: 2px solid red; */
    display: flex;
    overflow-x: scroll;
    position: relative;
    z-index: 100000;
    
}
.list img{
    height: 150px;
    width: 200px;
    padding: 5px;
    object-fit: cover;
    position: relative;
}
.moveLeft{
    cursor: pointer;
    width: 180px;
    height: 100%;
    background: linear-gradient(45DEG, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0));
    position: fixed;
    z-index: 100000000000000000;
    left: 0;
    line-height: 150px;
    color: white;
    text-align: center;
    font-size: 30px;
    font-family: impact, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    /* font-weight: bolder; */

}
.moveRight{
    cursor: pointer;
    width: 180px;
    height: 100%;
    background: linear-gradient(-45DEG, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0));
    position: fixed;
    z-index: 100000000000000000;
    right: 0;
    line-height: 150px;
    color: white;
    text-align: center;
    font-size: 30px;
    font-family: impact, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    /* font-weight: bolder; */
}

.absolutely{
    padding-top: 40px;
    transition: 450ms;
    position: absolute;
    width: 100%;
    bottom: -200px;
    height: 200px;
    /* border: 2px solid green; */
    overflow-x: visible;
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.623))
}

.arrow .clicker{
    cursor: pointer;
    text-align: center;
    padding: 10px;
    font-family: arial, sans-serif;
    font-weight: bolder;
    line-height: 25px;
}
.clicker{
    cursor: pointer;
    width: 50px;
    height: 25px;
    border: 2px solid rgba(0, 0, 0, 0.5);
    background: white;
    border-radius: 10px;
    position: absolute;
    left: 50%;
    z-index: 100000000000000000000000000000000000000000;
    transform: translateX(-50%);
    top: -60px;

}

.loader{
    width: 250px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    /* border: 2px solid red; */
    margin-left: 50%;
    margin-top: 25%;
    transform: translate(-50%,-50%)

}

#push{

}