.start{
    height: 100.5vh;
    width: 100.5%;
    background: whitesmoke;
    position: fixed;
    
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin-left: -30px;
    margin-top: -10px;
}

.content{
    width: 99.7%;
    height:99.7%;
    border: 2px solid green;
    box-shadow: 0 0 200px inset rgba(255, 255, 255, 0.692);
    background: rgb(9,64,89);
}
.tab{
    width: 100%;
    height: 100px;
    position: absolute;
    /* border: 2px solid black; */
    z-index: 1000000000000000000000000;
    background: linear-gradient(rgba(13, 98, 138, 0.8), rgba(13, 98, 138, 0.5));
    box-shadow: 0 15px 25px rgba(13, 98, 138, 0.5);
}

.DP{
    /* width: 10%; */
    background: white;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    height: 70px;
    margin-left: 20px;
    margin-top: 20px;
    border-radius: 50px;
    display: flex;
    position: absolute;
    padding-right: 10px;
}
.name{
    padding-left: 10px;
    line-height: 70px;
    font-family: Arial, Helvetica, sans-serif;
}
.DP img{
    width: 50px;
    height: 50px;
    margin-left: 10px;
    margin-top: 10px;
    border-radius: 500px;
    float: left;
    object-fit: cover;
}

.action{
    /* margin-top: 50px; */
    float: right;
    display: flex;
    width:250px;
    /* border: 2px solid green */
}
.action > div{
    cursor: pointer;
    /* background:  orange; */
   line-height: 100px;
    font-weight: bolder;
    font-family: arial, sans-serif, impact;
    color: white;
}
.action p{
    /* background:  orange; */
    margin: 0;
    padding-left: 3px;
    font-weight: bolder;
    font-family: arial, sans-serif, impact;
    color: white;
}

.list{
    margin: 0 auto;
    width: 50%;
    min-width: 400px;
    padding-top: 10px;
    /* border: 2px solid red; */
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
    position: relative;
    z-index: 100000;
    /* background: linear-gradient(#fff,rgba(255, 255, 255, 0)) */
    
}

.list img{
    height: 150px;
    width: 220px;
    padding: 5px;
    object-fit: cover;
    position: relative;
}
.moveLeft{
    cursor: pointer;
    width: 180px;
    height: 100%;
    background: linear-gradient(to left, rgba(13, 98, 138, 0), rgb(13, 98, 138));
    position: absolute;
    z-index: 100000000000000000;
    left: 0;
    /* font-weight: bolder; */

}
.moveRight{
    cursor: pointer;
    width: 180px;
    height: 100%;
    background: linear-gradient(to right, rgba(13, 98, 138, 0), rgb(13, 98, 138));
    position: absolute;
    z-index: 100000000000000000;
    right: 0;
    /* font-weight: bolder; */
}

.absolutely{
    padding-top: 40px;
    transition: 450ms;
    position: absolute;
    width: 100%;
    bottom: -200px;
    height: 200px;
    /* border: 2px solid green; */
    overflow-x: visible;
    background: linear-gradient(rgba(13, 98, 138, 0.5), rgb(13, 98, 138));
    box-shadow: 0 -15px 25px rgba(13, 98, 138, 0.5)
}

.arrow .clicker{
    cursor: pointer;
    text-align: center;
    padding: 10px;
    font-family: arial, sans-serif;
    font-weight: bolder;
    line-height: 25px;
}

.clicker{
    cursor: pointer;
    width: 50px;
    height: 25px;
    border: 2px solid rgba(0, 0, 0, 0.5);
    background: white;
    border-radius: 10px;
    position: absolute;
    left: 50%;
    z-index: 100000000000000000000000000000000000000000;
    transform: translateX(-50%);
    top: -30px;
}

.loader{
    width: 250px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    /* border: 2px solid red; */
    margin-left: 50%;
    margin-top: 25%;
    transform: translate(-50%,-50%);
    color: white;

}
.gal img{
    /* padding: 1px; */
    background: white;
    margin: 4px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

}
