<div class="content">
    <h1>
        Your Business Details
      </h1>
<div class="container" *ngFor="let i of Orgs | async">

  <div align="center">
    <img class="ProPic" src="{{i.downloadurl}}">
  </div>

  <div class="bar">
    <h1 class="h1">Your Details</h1>
  </div>

  <table align="center">
    <tr>
      <td valign="top" class="leftTD">
        Name :
      </td>
      <td valign="top" class="rightTD">
        {{i.Firstname}}
      </td>
    </tr>

    <tr>
      <td valign="top" class="leftTD">
        Surname :
      </td>
      <td valign="top" class="rightTD">
        {{i.Lastname}}
      </td>
    </tr>

    <tr>
      <td valign="top" class="leftTD">
        Email Adress :
      </td>
      <td class="rightTD">
        {{email}}
      </td>
    </tr>

    <tr>
      <td valign="top" class="leftTD">
        Mobile No. :
      </td>
      <td valign="top" class="rightTD">
        {{i.Mobile}}
      </td>
    </tr>
  </table>

  <div class="bar">
    <h1 class="h1">Organisation Details</h1>
  </div>

  <div >
    <img class="coverPic" src="../../assets/imgs/default-cover.jpg">
  </div>

  <div align="center" class="logo">
    <img  class="round2" src="../../assets/imgs/icon.png">
  </div>
  
  <table align="center">
    <tr>
      <td valign="top" class="leftTD">
        Organisation Name:
      </td>

      <td valign="top" class="rightTD">
        Little Rose

      </td>
     </tr>
      <tr>
        <td valign="top" class="leftTD">
          Organisation Cat :
        </td>

        <td valign="top" class="rightTD">

          Old aged home
        </td>
      </tr>

      <tr>
        <td valign="top" class="leftTD">
          Organisation Tel. :
        </td>

        <td valign="top" class="rightTD">

          {{i.Telephone}}
        </td>
      </tr> 
      <tr>
        <td valign="top" class="leftTD">
          Description :
        </td>
        <td valign="top" class="rightTD">
          {{i.AboutOrg}}
        </td>
      </tr>  
  </table>
</div>

</div>

