<head>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body class="thebody">
  <div class="absolutely">
    <div class="arrow">
      <div class="clicker" (click)="decideState()">
        &Lambda;
      </div>

    </div>
    <div class="list">
      <div class="gal" id="push">
        <img src="../../assets/imgs/facade.jpg" alt="">
      </div>
    </div>
  </div>
  <div class="signout" (click)="signOut()">
    Sign Out
  </div>
  <div class="container">
    <div class="cover">
      <!-- <div class="SaveButton">
          <button class="saveBtn">Save</button>
        </div> -->
      <div class="round">
        <img class="theImage" src="{{url}}">
      </div>
      <img class="cover2" src="{{logo}}">
      <!-- <h2>Your cover picture</h2> -->

    </div>
    <div class="seperator">
      <h1>Edit your organisation profile</h1>
      <div class="textfield">
        <input value={{name}} [(ngModel)]="name" type="text" placeholder="Organisation Name" disabled><i style=" color: white;height: 30px; position: relative; left: -25px;"
          class="person" class="material-icons">business</i>
      </div>
      <div class="textfield">
        <input value={{cat}} [(ngModel)]="cat" type="text" placeholder="Organisation Type" disabled><i style=" color: white;height: 30px; position: relative; left: -25px;"
          class="person" class="material-icons">business</i>
      </div>
      <div class="textfield">
        <input value={{email}} [(ngModel)]="email" type="email" placeholder="Email"><i style=" color: white;height: 30px; position: relative; left: -25px;"
          class="person" class="material-icons">mail</i>
      </div>
      <div class="textfield">
        <input value={{tel}} [(ngModel)]="tel" type="number" placeholder="Phone No."><i style=" color: white;height: 30px; position: relative; left: -25px;"
          class="person" class="material-icons">phone</i>
      </div>
      <div class="textfield">
        <input value={{city}} [(ngModel)]="city" type="text" placeholder="City"><i style=" color: white;height: 30px; position: relative; left: -25px;"
          class="person" class="material-icons">pin_drop</i>
      </div>
      <textarea value={{desc}} [(ngModel)]="desc" class="theDescription" placeholder="Description" maxlength="230" id="about"
        type="text"></textarea>
      <div class="SaveButton">
        <button class="saveBtn" (click)="edit()">Save</button>
      </div>
    </div>
    <div class="seperator2">
      <h1 class="theH1">Organisation Branches <button class="BranchButton" (click)="addBrunch()"> <i style="color: #2c747a; position: relative;right: 0px;"
            class="material-icons">add</i>Add Branch</button></h1>
      <div class="branches">
        <div class="orgBranch" *ngFor="let i of brunchesArr" (click)="showinfo(i)">
          <div class="branchName">
            {{i.city}}
          </div>
          <br>
          <img src="{{i.Url}}" alt="">
        </div>
      </div>
    </div>
  </div>
</body>