@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(https://example.com/MaterialIcons-Regular.eot);
    src: local('Material Icons'),
      local('MaterialIcons-Regular'),
      url(https://example.com/MaterialIcons-Regular.woff2) format('woff2'),
      url(https://example.com/MaterialIcons-Regular.woff) format('woff'),
      url(https://example.com/MaterialIcons-Regular.ttf) format('truetype');
  }
  @import 'material-icons/iconfont/material-icons.scss';
.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: wrap;
    direction: ltr;
    position: absolute;
    left: 5px;
    top: 3px;

    /* margin-top: 15px; */
  
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
  
    -moz-osx-font-smoothing: grayscale;
  
    font-feature-settings: 'liga';
  }

  .thebody{
    height: 130vh;
    width: 100vw;
    /* margin-top: -300px;  */
    /* background: linear-gradient(rgba(13, 32, 41, 0.281),rgb(5, 59, 77)),url('../../assets/imgs/grandpa13.jpg'); */
    background-size: cover;
    background-repeat: no-repeat; 
     background-position: top; 
     overflow-y:hidden;
     overflow-x:hidden;
     position: fixed;
     margin-left: -15px;
   
}

.container{
    /* border: grey solid 2px; */
    margin: 0 auto;
    height: 60vh;
    width: 50vw;
    margin-top: 100px;
    box-shadow: 0 0 20px grey;
    font-family: Arial, Helvetica, sans-serif;
    
    
   
}



/* .theCol{ */
    /* border: solid 2px blue; */
    /* height: 25vh;
    width: 30vw; */
/* } */

.theImage{
    height: 110px;
    width: 110px;
    border-radius: 100px;
    border: solid rgb(212, 212, 212) 3px;
    margin-top: 20px;
    margin-left: 30px;
    
}

.cover{
    width: 50vw;
    /* border: solid #20676e 2px; */
    background-image: url('../../assets/imgs/default-cover.jpg');
    background-repeat: no-repeat; 
    background-size: cover;
    height: 25vh;
    
}

h2{
    color: rgba(255, 255, 255, 0.555);
    text-align: center;
    font-weight: 100;
    text-shadow: 0 0 10px black;
    font-size: 4em;

}

.seperator{
    /* border: #20676e solid 2px; */
    box-shadow: 0 0 10px grey;
    width: 56%;
    height: 35vh;
    float: left;
    text-align: center;
    overflow-y: scroll;
    background-color: #2c747a;
}

.seperator::-webkit-scrollbar{
    display: none;
}
.seperator2{
    /* border: #20676e solid 2px; */
    width: 44%;
    height: 35vh;
    float: right;
    overflow-y: scroll; 
    overflow-x: hidden;    
}
.seperator2::-webkit-scrollbar{
    display: none;
}

h1{
    text-align: center;
    font-weight: 100;
    color: rgb(255, 255, 255);
    bottom: 60px;
    
}

::-webkit-input-placeholder { /* Microsoft Edge */
    color: rgb(226, 223, 223);
   }

.textfield{
    width: 100%;
    height: 50px;
    /* border: 2px solid pink; */
    margin: 0 auto;
    text-align: center
    }
.textfield input{
    /* border: none; */
    border-top: 2px;  
    border-right: 0px;
    border-left: 0px; 
    border-color: #ffffff;  
    background-color: rgba(255, 255, 255, 0);    
    width: 70%;
    height: 30px;
    font-size: 1.2em;
    margin-left: 25px;
    margin-top: 10px;
    
    color: #ffffff;
}
.person{
    height: 25px;
    margin-right: -50px;
    position: relative;
    right: 25px;
    top: 5px;
}

.theDescription{
    border: #20676e solid 2px;
    width: 69%;
    /* margin-left: 90px; */
    margin: 0 auto;
    margin-top: 10px;
    height: 140px; 
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
}

/* .theTabels{
    padding-right: 20px;
} */

.firstRow{
    background: #20676e;
    height: 20%;
    width: 20px;
} */

table{
    /* border: 2px solid red; */
    width: 100%;
    height: 54.3vh;
    margin-left: -50px;
}
tr{
    /* border: 2px solid green; */
    width: 75%;
    height: 20px;
}
td{
    /* border: 2px solid orange; */
    width: 20px;
    
    
}

.thePicture{
    height: 150px;
    width: 192px;
    z-index: 1000000;
    /* padding-left:17px; */
    padding-bottom: 20px;
    object-fit: cover;
    position: relative;
    bottom: 120px;
    
}

.thePicture2{
    height: 100%;
    width: 100%;
    padding: 5px;
    z-index: 1000000;
    /* padding-left:17px; */
        object-fit: cover;
    /* position: relative; */
    
    /* display: grid; */
    
}

.firstRow{
    width: 10px;
}

.uploader{
    font-family: Arial, Helvetica, sans-serif;
    width: 150px;
    height: 30px;
    padding-left: 20px;
    border: #20676e solid;
    padding-top: 10px;
    background-color: #20676e;
    color: white;
    position: relative;
    bottom: 250px;
    left: 10px
    
}
.uploader #theInput{
    display: none;
}
.uploader .myLabel{
    background: red;
}

.camera{
   padding-left: 15px;
  position: relative;
  top: 3px;
   height: 20px;
}

.saveButton{
    border: #ff0000 solid 2px;
    text-align: center
}

.saveBtn{
    border: #ffffff solid 2px;
    height: 50px;
    width:100px;
    margin-top: 60px;
    background-color: #ffffff00;
    color: #ffffff;
    border-radius: 100px;
    /* margin-left: 245px; */
    position: relative;
    bottom: 25px;
    left: 10%;
    transform: translateX(-50%)
  
}

.theH1{
    color: rgb(68, 60, 60);
    position: relative; 
    top: -10px; 
    /* padding-top: 60px; */

}

p{
    text-align: center;
    font-size: 1.5em;
    z-index: 10000000;
    position: relative;
    top:0px;
    color: white;
    text-shadow: 0 0 20px red;
}

.BranchButton{
    border: none;
    position: relative;
    right: 0px;
    height: 50px;
    /* line-height: -10px; */
    /* text-decoration: bold; */
    color: #20676e;
    background-color: #20676e00;
    box-shadow: 0 0 10px #20676e00 ;
    font-weight: 600;
    font-size: 13px;
    /* padding: 10px; */
    /* border-radius: 100px; */
    /* padding-left: 75%; */

}
.BranchButton i{
    font-weight: 800;
    line-height:40px;
    padding-right: 5px;    
}

.theADDBtn{
margin-left:300px;
}








.rightPortion{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    /* border: 2px solid grey; */
    height: 100%;
    width: 100%;
}
.imgContainer{
    position: relative;
    width: 30%;
    height: 50%;
    padding: 5px;
    /* border: 2px solid red; */
    /* margin: 0 auto; */
}
.imgContainer h4{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: white;
    text-shadow: 0 0 10px black;
    text-align: center;
    text-transform: capitalize;
}

.signout{
    cursor: pointer;
    position: absolute;
    left: 1vw;
    top: 3vh;
    z-index: 100000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000;
    padding: 10px; background: rgb(12,104,121);
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
.signout:active{
    position: absolute;
    left: 1vw;
    top: 3vh;
    z-index: 100000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000;
    padding: 10px; background: rgb(1, 217, 255);
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}